*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(skyblue,pink,white);
  background-repeat: no-repeat;
}
h1
{
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}